html * {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  color: #000;
}

.logo {
  padding-left: 5px;
}

summary {
  cursor: pointer;
  /* width: max-content; */
}

details>summary:first-of-type {
  list-style-type: none;
}

details>summary {
  display: block;
}

summary::-webkit-details-marker {
  font-size: 0px;
}

details>summary {
  list-style: none;
}

details>summary::-webkit-details-marker {
  display: none;
}

.active-mobile {
  display: block;
}

.active-desktop {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .active-mobile {
    display: none;
  }

  .active-desktop {
    display: block;
  }
}


/* * navigace s ikonkama */
.main-nav {
  width: 100%;
  padding-top: .35rem;
  padding-bottom: .2rem;
  border-bottom: var(--lightBorder);
}

.h1 {
  margin-top: 50px;
}

.nav-kategorie-layout .nav-ul,
.nav-kategorie-admin-layout .nav-ul {
  position: absolute;
  left: 0;
  background-color: var(--bg);
  width: 100%;
  padding-left: 25%;
  box-shadow: var(--boxShadow);
  margin-top: 6px;

}

.nav-kategorie-layout .nav-ul li,
.main-nav-admin-mobile .nav-ul li,
.nav-menu-admin-desktop-layout .nav-ul li {
  padding: 15px 0 15px 0;
}

.nav-kategorie-layout .nav-ul li:first-of-type,
.main-nav-admin-mobile .nav-ul li:first-of-type,
.nav-menu-admin-desktop-layout .nav-ul li:first-of-type {
  padding-top: 25px;
}
.nav-kategorie-layout .nav-ul li:last-of-type,
.main-nav-admin-mobile .nav-ul li:last-of-type,
.nav-menu-admin-desktop-layout .nav-ul li:last-of-type {
  padding-bottom: 25px;
}

.search-area {
  position: absolute;
  left: 0;
  background-color: var(--bg);
  width: 100%;
  padding-top: 10px;
  margin-top: 8px;
  padding-bottom: 10px;
  box-shadow: var(--boxShadow);
}

.search-area input {
  background-color: var(--bg);
  border: none;
  padding-left: 15px;
  width: 80%;
  height: 30px;
}

.search-area .icon-search {
  opacity: .5;
  /* padding-top: 30px; */
}

/* * navigace admin */
.main-nav-admin-mobile {
  width: 100%;
  padding-top: .3rem;
  padding-bottom: .2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}


@media only screen and (min-width: 768px) {

  .nav-kategorie-layout .nav-ul,
  .nav-kategorie-admin-layout .nav-ul {
    position: absolute;
    right: 0;
    max-width: 50%;
    margin-left: 65%;
    padding-left: 20px;
  }

  .search-area {
    position: absolute;
    left: 50%;
    width: 40%;
    padding-top: 10px;
    margin-top: 5px;
    padding-bottom: 10px;
    box-shadow: var(--boxShadow);
  }

  .search-area input {
    padding-left: 15px;
    width: 80%;
    height: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .logo {
    padding-left: 5px;
  }

  .nav-kategorie-layout .nav-ul,
  .nav-kategorie-admin-layout .nav-ul {
    position: absolute;
    width: 20%;
    margin-top: 6px;
    margin-left: 40%;
    box-shadow: var(--boxShadow);
  }

  .nav-menu-admin-desktop-layout .nav-ul {
    position: absolute;
    left: 25%;
    z-index: 99999;
    width: 20%;
    margin-top: 16px;
    padding-left: 20px;
    background-color: var(--bg);
    box-shadow: var(--boxShadow);
  }

  /* * navigace admin */
  .secondary-main-nav-admin-desktop {
    padding: 17px 0px 17px 0px;
    border-top: var(--lightBorder);
    border-bottom: var(--lightBorder);
  }

  .header-prehled {
    margin-top: 150px;
  }

  .main-nav-admin-desktop{
    padding: 17px 0px 17px 0px;
    border-bottom: var(--lightBorder);
  }
}