html *{
  margin: 0;
  padding: 0;
}
html, body{
  overflow-x: hidden;
}
ul {
  list-style-type: none;
}
a{
  color: #000;
}


summary {
  cursor: pointer;
  /* width: max-content; */
}

details > summary:first-of-type {
  list-style-type: none;
}

.active-mobile{
  display: block;
}
.active-desktop{
  display: none;
}
@media only screen and (min-width: 600px) {
  .active-mobile{
    display: none;
  }
  .active-desktop{
    display: block;
  }
}


/* * navigace s ikonkama */
.main-nav-layout{
  margin-top: .3rem;
}

.nav-kategorie-layout .nav-ul{
  position: absolute;
  left: 0;
  background-color: var(--bg);
  width: 100%;
  padding-left: 25%;
}
.nav-kategorie-layout .nav-ul li{
  padding: 15px 0 15px 0;
}
.search-area{
  position: absolute;
  left: 0;
  background-color: var(--bg);
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
}
.search-area input{
  background-color: var(--bg);
  border: none;
  padding-left: 15px;
  width: 80%;
  height: 30px;
}
.search-area .icon-search{
  opacity: .5;
}