body {
    width: 100%;
}

.main-container-layout {
    max-width: 1200px;
    width: 95%;
    margin: auto;
}

/* * login */

.login-container-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.login-text-container-layout {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    height: 100%;
    display: grid;
    align-items: center;
}

.bg-line {
    display: none;
}

@media only screen and (min-width: 600px) {

    .bg-line {
        display: grid;
    }

    .login-container-layout {
        display: grid;
        grid-template-columns: 1fr 10px 20px 3fr 20px 10px 1fr;
        grid-template-rows: 1fr 10px 20px 4fr 20px 10px 1fr;
    }

    .login-text-container-layout {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;

    }

    .bg-line-1 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 7;
    }

    .bg-line-2 {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .bg-line-3 {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 7;
    }

    .bg-line-4 {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 6;
        grid-row-end: 7;
    }

}

/* * navigace s ikonkama - zákazník */

/* .main-nav-layout, */
.main-nav-container-layout {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    background-color: var(--bg);
}

.main-nav-layout {
    display: grid;
    grid-template-columns: 2fr 1fr 4fr;
    align-items: center;
}

.nav-menu-layout .nav-ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.nav-menu-layout .nav-ul-admin {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.nav-menu-layout .nav-ul li {
    justify-self: center;
}

/* * navigace admin */
.main-container-layout .main-nav-admin-layout {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    align-items: center;
}

@media only screen and (min-width: 520px) {

    /* * navigace admin */
    .main-container-layout .main-nav-admin-layout {
        grid-template-columns: 5fr 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 768px) {

    .main-container-layout {
        width: 90%;
    }

    .main-nav-admin-layout {
        grid-column-start: 2;
    }

    /* * navigace s ikonkama - zákazník */

    .main-nav-container-layout {
        grid-template-columns: 1fr 18fr 1fr;
    }

    .main-nav-layout {
        grid-column-start: 2;
        grid-template-columns: 8fr 1fr 4fr;
    }

    .nav-menu-layout .nav-ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .nav-menu-layout .nav-ul-admin {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .nav-kategorie-layout {
        margin: auto;
    }

    /* * navigace admin */
    .main-container-layout .main-nav-admin-layout {
        display: grid;
        grid-template-columns: 8fr 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1024px) {

    .main-nav-layout {
        grid-template-columns: 2fr 5fr 2fr;
    }

    /* .nav-kategorie-layout .nav-ul,
    .nav-kategorie-admin-layout .nav-ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    } */

    /* * navigace admin */

    .main-nav-container-layout .main-nav-admin-mobile {
        display: none;
    }

    .main-container-layout .main-nav-admin-container-desktop-layout {
        display: grid;
        align-items: center;
    }

    .main-container-layout .secondary-main-nav-admin-desktop-layout {
        display: grid;
        align-items: center;
        /* grid-row-start: 2; */
    }

    .main-container-layout .main-nav-admin-desktop-layout-row {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 9fr;
        grid-column-start: 2;
        grid-template-rows: repeat(2, 50px);
    }

    .main-container-layout .main-nav-admin-desktop-layout {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 9fr;
        grid-column-start: 2;
    }

    .main-container-layout .nav-menu-admin-desktop-layout {
        display: grid;
        align-items: center;
    }

    .nav-ul-admin-layout {
        display: grid;
        justify-items: center;
        grid-column-start: 2;
        grid-template-columns: repeat(6, 1fr);
    }

    .secondary-main-nav-admin-desktop-layout {
        display: grid;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
    }

    .nav-ul-desktop-admin {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (min-width: 1333px) {
    .main-nav-container-layout {
        display: grid;
        grid-template-columns: 1fr 1200px 1fr;
        position: fixed;
    }

    .main-nav-layout {
        width: 1200px;
        grid-column-start: 2;
    }
}

/* ? footer */
.main-footer-layout {
    width: 100%;
    /* display: grid; */
    /* position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    align-items: center; */
}

.main-footer-container-layout {
    width: 100%;
    display: grid;
    grid-column-start: 2;
}

.logout-btn-container-layout {
    display: grid;
    grid-row-start: 1;
    justify-items: center;
}

.footer-text {
    display: grid;
    grid-row-start: 2;
    justify-items: center;
}

@media only screen and (min-width: 768px) {

    .main-footer-container-layout {
        grid-template-columns: repeat(2, 1fr);
    }

    .logout-btn-container-layout {
        justify-items: end;
        align-items: center;
    }

    .footer-text {
        grid-row-start: 1;
        grid-column-start: 1;
        align-items: center;
        justify-items: start;
    }
}

@media only screen and (min-width: 1333px) {
    .main-footer-layout {
        grid-template-columns: 1fr 1200px 1fr;
    }
}

/* ? obecný layout stránky  */
.main-container-layout {
    display: grid;
    grid-template-rows: min-content auto min-content;
    row-gap: 30px;
    min-height: 100vh;
}

.main-header-layout {
    margin-top: 70px;
}


/* !! layout hlavní stránky s produktama */
.container-list-product-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6px;
    row-gap: 24px;
}

@media only screen and (min-width: 520px) {

    /* možná už je udělat vyšší */
    .container-list-product-layout {
        column-gap: 24px;
        row-gap: 32px;
    }
}


.product-item {
    background-color: #fff;
    /* height: 290px; */
}

.product-image {
    /* height: 180px; */
    display: grid;
    align-items: center;
    overflow-x: hidden;
}

.img-nahled-product {
    display: grid;
    width: 120%;
    height: 60%;

    object-fit: contain;
    object-position: 20%;

    align-self: center;
}

.odkaz-nahled-img {
    display: grid;
    /* height: 180px; */
    height: 100%;
}

.product-item-layout {
    display: grid;
    grid-template-rows: 180px 1fr auto;
}

.product-item {
    position: relative;
}

@media only screen and (min-width: 410px) {
    .product-item-layout {
        display: grid;
        grid-template-rows: 220px 80px auto;
    }

    /* .product-item{
        height: 300px;
    } */
}

@media only screen and (min-width: 560px) {
    .product-item-layout {
        grid-template-rows: 240px 80px auto;
    }

    .container-list-product-layout {
        padding: 0px 30px;
    }
}

@media only screen and (min-width: 650px) {
    .container-list-product-layout {
        padding: 0px 50px;
    }
}

/* rozměry 720-920 nejsou řešeny */
@media only screen and (min-width: 790px) {
    .container-list-product-layout {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 32px;
        row-gap: 46px;
    }

    .container-list-product-layout {
        padding: 0px 0px;
    }
}

@media only screen and (min-width: 1024px) {
    .container-list-product-layout {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 24px;
        row-gap: 32px;
    }
}

@media only screen and (min-width: 1333px) {
    .container-list-product-layout {
        column-gap: 35px;
        row-gap: 50px;
        padding: 0px 80px;
    }
}

/* ? detail předmětu */
.predmet-detil-img {
    height: 45vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.kosik-like-btn-layout {
    display: grid;
    grid-template-columns: 6fr 1fr;
    column-gap: 10px;
}

.kosik-like-btn-layout .like-btn {
    display: grid;
}

.kosik-like-btn-layout .icon-heart-border-blue {
    align-self: center;
    justify-self: center;
}

.predmet-detail-prislusenstvi-swipe-layout {
    display: grid;
    grid-template-columns: 1fr 185px 1fr;
    justify-items: center;
    align-items: center;
}

@media only screen and (min-width: 410px) {
    .predmet-detail-prislusenstvi-swipe-layout {
        grid-template-columns: 1fr auto 1fr;
    }
}

@media only screen and (min-width: 1024px) {
    .predmet-detail-prislusenstvi-swipe-layout {
        grid-template-columns: 1fr repeat(3, 230px) 1fr;
        column-gap: 30px;
    }

    .predmet-detail-prislusenstvi-swipe-layout .product-item-layout {
        width: 100%;
    }

    .predmet-detail-prislusenstvi-swipe-layout .arrow-left {
        display: grid;
        justify-self: end;
    }

    .predmet-detail-prislusenstvi-swipe-layout .arrow-right {
        display: grid;
        justify-self: start;
    }
}

@media only screen and (min-width: 960px) {
    .predmet-info-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        align-items: center;
    }

    .detail-predmetu-layout .h2 {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .predmet-detil-img {
        height: 23rem;
        width: 23rem;
        justify-self: end;
    }

    .kosik-like-btn-layout {
        display: grid;
        grid-template-columns: 220px 1fr;
        column-gap: 10px;
    }

    .detail-predmetu-layout {
        display: grid;

    }

    .kosik-like-btn-layout .icon-heart-border-blue {
        justify-self: start;
    }

    .detail-predmetu-layout .calendar {
        display: grid;
        justify-items: center;
    }

    .detail-predmetu-layout .product-item-layout {
        display: grid;
    }
}

/* * obsah košíku */
.main-kosik-layout {
    display: grid;
    justify-items: center;
    row-gap: 30px;
    /* min-height: 100vh; */
}

.kosik-img-container {
    display: grid;
    align-items: center;
    overflow: hidden;
    width: 80px;
}

.obsah-kosiku-layout {
    display: grid;
    width: 100%;
}

.kosik-item-layout {
    display: grid;
    grid-template-columns: auto 5fr 1fr;
    column-gap: 5px;
    align-items: center;
}

.kosik-delete-item {
    text-align: center;
}

.datepicker-layout,
.kalendar-layout,
.poznamka-layout {
    display: grid;
    justify-items: center;
}

@media only screen and (min-width: 680px) {
    .kosik-img-container {
        margin-left: 20px;
    }

    .kosik-texty-layout {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }

    .kosik-nazev-produktu,
    .kosik-specifikace-produktu {
        grid-column-start: 1;
    }

    .kosik-mnozstvi{
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}

@media only screen and (min-width: 1024px) {
    .obsah-kosiku-layout{
        width: 80%;
    }
}

@media only screen and (min-width: 1333px) {
    .obsah-kosiku-layout{
        width: 70%;
    }
}


/* ? Profil */

.profil-header{
   text-align: center;
}

.vypujcka-item-main-layout{
    display: grid;
    grid-template-columns: max-content 3fr 1fr;
    grid-template-rows: repeat(2, min-content);
    column-gap: 10px;
}

.vypujcka-jmeno,
.vypujcka-datum{
    grid-column-start: 1;
}

.vypujcka-container-icon{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
}

.vypujcka-stav{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    justify-self: center;
}

.vypujcka-container-icon-mobile{
    display: grid;
    /* grid-template-columns: 2fr 1fr 1fr 2fr; */
    grid-template-columns: 1fr 1fr 4fr;
    justify-items: center;
    align-items: center;
}

.icon-active-mobile-pen{
    grid-column-start: 1;
}

.vypujcka-container-icon{
    /* grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 4; */

    display: grid;
    /* justify-content: space-around; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: 1fr; */
    align-items: center;
    justify-items: center;
}

/* .plus-detail-checkbox{
    grid-column-end: 4;
} */

detail-vypujcky-container-layout{
    display: grid;
}

.detail-vypujcky-item{
    display: grid;
    grid-column-start: 1;

    grid-template-columns: min-content auto;
    column-gap: 5px;
    align-items: center;
}

.detail-vypujcky-texty{
    display: grid;
}

.vypujcka-item-poznamka{
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 5px;
}

@media only screen and (min-width: 460px) {
    .vypujcka-item-main-layout{
        grid-template-columns: max-content min-content auto;
        grid-template-rows: repeat(2, min-content);
    }

    .vypujcka-stav{
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;

        align-self: center;
        justify-self: center;
    }
    .vypujcka-container-icon{
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}

@media only screen and (min-width: 560px) {
    .vypujcka-item-main-layout{
        grid-template-columns: max-content auto auto;
    }
}

@media only screen and (min-width: 680px) {
    .profil-header{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
      }
    
    .profil-h1{
        grid-column-start: 2;
    }

    .header-logout{
        justify-self: start;
        align-self: center;
    }
}

@media only screen and (min-width: 860px) {
    .vypujcka-item-main-layout{
        grid-template-columns: max-content 2fr 1fr;
    }
}

@media only screen and (min-width: 1024px) {
    .vypujcka-item-main-layout{
        grid-template-columns: max-content 3fr 1fr;
    }

    .vypujcky-seznam-layout{
        width: 80%;
        margin: auto;
    }
}

