:root {
  --bg: #f7f7f7;
  --blue: #007784;
  --red: #d05555;
  --green: #00ae7c;
  --yellow: #d0b055;
  --blue-classic: #5586d0;

  --lightBorder: 1px solid rgba(0, 0, 0, 0.3);
  --boxShadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.17);

  --baseFontSize: 1rem;
  --smallFontSize: 0.8rem;
  --smallestFontSize: 0.64rem;
  --heading-1: 1.953rem;
  --heading-2: 1.563rem;
  --heading-3: 1.25rem;

  --semibold: 400;
  --bold: 500;
}

html * {
  font-family: "Hind", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.logo a{
  font-family: "Playfair Display", serif;
  font-size: var(--heading-3);
}

.h1{
  font-size: var(--heading-1);
}
.h2{
  font-size: var(--heading-2);
}
.product-title{
  font-size: var(--heading-3);
}
.nav-target{
  font-weight: var(--semibold);
}
.main-nav-admin-container-desktop-layout li a,
.main-nav-admin-container-desktop-layout summary{
  font-size: var(--smallFontSize);
}

@media only screen and (min-width: 768px) {
  html *{
  font-size: 16px;
  }
}


.uppercase {
  text-transform: uppercase;
}

.icon {
  padding: 5px;
}

.icon-filter::before {
  content: url(../icon/filter-mobile.svg);
}

.icon-arrow-down::before {
  content: url(../icon/arrow-down.svg);
}

.icon-arrow-left::after {
  content: url(../icon/arrow-left.svg);
}

.icon-arrow-right::after {
  content: url(../icon/arrow-right.svg);
}

.icon-login-arrow-right::before {
  content: url(../icon/login-arrow-right.svg);
}

.icon-login-arrow-right-min::before {
  content: url(../icon/login-arrow-right-min.svg);
}

.icon-edit-pen::before {
  content: url(../icon/edit-pen.svg);
}

.icon-plus::before {
  content: url(../icon/plus.svg);
}

.icon-plus-min::before {
  content: url(../icon/plus-min.svg);
}

.icon-minus::before {
  content: url(../icon/minus.svg);
}

.icon-minus-min::before {
  content: url(../icon/minus-min.svg);
}

.icon-dot-border::before {
  content: url(../icon/dot-border.svg);
}

.icon-dot-fill::before {
  content: url(../icon/dot-fill.svg);
}

.icon-dot-blue::before {
  content: url(../icon/dot-blue.svg);
}

.icon-order::after {
  content: url(../icon/order.svg);
}

.icon-notification::before {
  content: url(../icon/notification.svg);
}

.icon-close::before {
  content: url(../icon/close.svg);
}

.icon-wishlist::before {
  content: url(../icon/heart-border-black.svg);
}

.icon-wishlist-blue::before {
  content: url(../icon/heart-border-blue.svg);
}

.icon-cart-black::before {
  width: 25px;
  height: 25px;
  content: url(../icon/cart-black.svg);
}

.icon-cart-white::before {
  width: 25px;
  height: 25px;
  content: url(../icon/cart-white.svg);
}

.icon-cart-blue::before {
  width: 25px;
  height: 25px;
  content: url(../icon/cart-blue.svg);
}

.icon-user-black::before {
  content: url(../icon/user-black.svg);
}

.icon-user-blue::before {
  content: url(../icon/user-blue.svg);
}

.icon-settings::before {
  content: url(../icon/settings.svg);
}

.icon-search::before {
  content: url(../icon/search.svg);
}

.icon-delete::before {
  content: url(../icon/delete.svg);
}

.icon-heart-border-black::before {
  content: url(../icon/heart-border-black.svg);
}

.icon-heart-border-blue::before {
  content: url(../icon/heart-border-blue.svg);
}

.icon-heart-fill-blue::before {
  content: url(../icon/heart-fill-blue.svg);
}

.icon-menu::before{
  content: url(../icon/menu.svg);
}

.icon-timer::before{
  content: url(../icon/timer.svg);
}

.icon-timer-blue::before{
  content: url(../icon/timer-blue.svg);
}